<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="2" parallel="methods" name="Playwright" configfailurepolicy="continue">

    <test name="Sales Sanity">
        <classes>
            <class name="basicTests.HomePageTestCases" />
        </classes>
    </test>

</suite> <!-- Suite -->